{% extends "main.html" %}


{% block title %}
    <title>出版社管理界面</title>
{% endblock %}

{% block content4 %}
    <li class="active"><a href="/publisher_list/">出版社列表页</a></li>
    <li><a href="/book_list/">书籍列表</a></li>
    <li><a href="/author_list/">作者列表</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">出版社管理页面</h1>
{% endblock %}


{% block content1 %}
    <div class="panel-heading">出版社列表<i class="fa fa-thumb-tack pull-right"></i></div>
{% endblock %}


{% block content2 %}
    <a class="btn btn-success" href="/add_publisher/">添加</a>
{% endblock %}



{% block content3 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>出版社名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publisher_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.name }}</td>
                <td>
                    <a class="btn btn-danger" href="/delete_publisher/?id={{ publisher.id }}">删除</a>
                    <a class="btn btn-info" href="/edit_publisher/?id={{ publisher.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
