{% extends "main.html" %}


{% block title %}
    <title>出版社管理界面</title>
{% endblock %}

{% block content4 %}
    <li class="active"><a href="/publisher_list/">出版社列表页</a></li>
    <li><a href="/book_list/">书籍列表</a></li>
    <li><a href="/author_list/">作者列表</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">出版社管理页面</h1>
{% endblock %}


{% block content1 %}
    <div class="panel-heading">出版社列表<i class="fa fa-thumb-tack pull-right"></i></div>
{% endblock %}


{% block content2 %}
    <a class="btn btn-success" href="/add_publisher/">添加</a>
{% endblock %}



{% block content3 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>出版社名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publisher_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.name }}</td>
                <td>
{#                  <a class="btn btn-danger del" href="/delete_publisher/?id={{ publisher.id }}"><i class="fa fa-trash-o">删除</i></a>#}
                    <a class="btn btn-danger del"><i class="fa fa-trash-o">删除</i></a>
                    <a class="btn btn-info" href="/edit_publisher/?id={{ publisher.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/sweetalert/sweetalert.min.js"></script>
{#    引入csrf文件这样就不需要传csrf键值到data#}
<script src="/static/setupajax.js"></script>
<script>
    $(".del").on("click", function () {
        {#a的父标签td的标签  为 tr#}
        var $trEle = $(this).parent().parent();
        var delId = $trEle.children().eq(1).text();
        swal({
                title: "你确定要删除吗？",
                text: "一旦删除就找不回来了",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "确认",
                cancelButtonText: "取消",
                closeOnConfirm: false,
            },
            function () {
                $.ajax({
                    url: "/delete_publisher/",
                    type:"post",
                    data:{"id":delId},
                    success:function(arg){
                     swal(arg, "你可以跑路了！", "success");
                     $trEle.remove();
                    }
                });
            });
    })
</script>
{% endblock %}


{% block content5 %}
<nav aria-label="Page navigation" class="text-right">
    <ul class="pagination">
     {{ page_html|safe }}
      </ul>
</nav>
{% endblock %}