{% extends "main.html" %}


{% block title %}
    <title>作者列表</title>
{% endblock %}

{% block content4 %}
    <li><a href="/publisher_list/">出版社列表页</a></li>
    <li><a href="/book_list/">书籍列表</a></li>
    <li class="active"><a href="/author_list/">作者列表</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">所有的作者</h1>
{% endblock %}


{% block content1 %}
    <div class="panel-heading">作者列表 <i class="fa fa-thumb-tack pull-right"></i></div>
{% endblock %}


{% block content2 %}
    <a class="btn btn-success" href="/add_author/">添加</a>
{% endblock %}



{% block content3 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>名字</th>
            <th>作品</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for author in author_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    {% for book in author.book.all %}
                        {{ book.title }}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-danger" href="/delete_author/?id={{ author.id }}">删除</a>
                    <a class="btn btn-info" href="/edit_author/?id={{ author.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
