{% extends "main.html" %}


{% block title %}
    <title>书籍管理界面</title>
{% endblock %}

{% block content4 %}
    <li><a href="/publisher_list/">出版社列表页</a></li>
    <li class="active"><a href="/book_list/">书籍列表</a></li>
    <li><a href="/author_list/">作者列表</a></li>
{% endblock %}

{% block content %}
    <h1 class="page-header">书籍管理界面</h1>
{% endblock %}


{% block content1 %}
    <div class="panel-heading">书籍列表<i class="fa fa-thumb-tack pull-right"></i></div>
{% endblock %}


{% block content2 %}
    <a class="btn btn-success" href="/add_book/">添加</a>
{% endblock %}



{% block content3 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>书名</th>
            <th>出版社名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in all_book %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.id }}</td>
                <td>{{ i.title }}</td>
                <td>{{ i.publisher.name }}</td>
                <td>
                    <a class="btn btn-danger" href="/delete_book/?id={{ i.id }}">删除</a>
                    <a class="btn btn-info" href="/edit_book/?id={{ i.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
