<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg2</title>
</head>
<body>
{#<form action="/reg2/" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {{ form_obj.as_p }}#}
{#    {{ form_obj.errors.pwd }}#}
{#    <p><input type="submit"></p>#}
</form>

<!-- 自己逐个字段写  -->
<form action="/reg2/" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {{ form_obj.name.label }}
        {{ form_obj.name }}
        <span>{{ form_obj.name.error.0 }}</span>
    </div>

    <div class="form-group">
        {{ form_obj.pwd.label }}
        {{ form_obj.pwd }}
        <span>{{ form_obj.pwd.error.0 }}</span>
    </div>
    <p><input type="submit"></p>

</body>
</html>